In [1]:
import pandas as pd

In [2]:
zippa = pd.read_html('http://www.zippia.com/user-experience-designer-jobs/demographics/')

In [3]:
len(zippa)

19

In [4]:
type(zippa)

list

In [5]:
zippa[1]

    Year    Male  Female
0   2010  61.88%  38.12%
1   2011  62.12%  37.88%
2   2012  61.35%  38.65%
3   2013  63.67%  36.33%
4   2014  61.60%  38.40%
5   2015  62.31%  37.69%
6   2016  61.25%  38.75%
7   2017  60.32%  39.68%
8   2018  62.43%  37.57%
9   2019  59.38%  40.62%
10  2021  59.57%  40.43%

In [6]:
zippa[2]

                    Job Title Male Female
0       Decorating Consultant   9%    91%
1             Floral Designer  11%    89%
2              Floral Manager  11%    89%
3    User Experience Designer  60%    40%
4                   Craftsman  88%    12%
5  Senior Industrial Designer  91%     9%
6             Exhibit Builder  93%     7%

In [7]:
zippa[4]

    Year   White Black or African American   Asian Hispanic or Latino
0   2010  80.32%                     3.37%   6.45%              8.15%
1   2011  79.15%                     3.38%   7.00%              8.33%
2   2012  78.60%                     3.42%   6.69%              9.26%
3   2013  79.01%                     3.39%   7.37%              8.05%
4   2014  78.43%                     3.15%   7.37%              8.85%
5   2015  77.58%                     3.31%   7.11%              9.89%
6   2016  77.09%                     3.54%   7.72%              9.34%
7   2017  77.04%                     3.17%   8.01%              9.29%
8   2018  74.98%                     3.33%   8.26%             10.34%
9   2019  76.12%                     3.50%   7.60%             10.19%
10  2021  70.17%                     3.42%  10.42%             10.63%